<h1 class="section-title">Pacientes</h1>

<div class="row row-fix">
  <%= form_tag docs_patients_path, :method => 'get', id: "search_form", class: "form-inline" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control",  placeholder: "Buscar Paciente" %>
    </div>
    <div class="form-group">&nbsp;&nbsp;
    <%= submit_tag "Search", :name => nil, class: "btn btn-success" %>
    </div>
    <div class="form-group">&nbsp;&nbsp;
    <%= link_to 'Agrega un Nuevo Paciente', new_docs_patient_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<div class="row row-fix" id="data">
  <%= render "patients" %>
</div>

<script>
  $("#search_form input").on('keyup', function(event) {
    event.preventDefault();
    $.get($("#search_form").attr("action"), $("#search_form").serialize(), function(json){
      $("#data").html(json.data);
    }, "json");
  });
  $("#search_form").on('submit', function(event) {
    event.preventDefault();
    // console.log('entra;')
    $.get($(this).attr("action"), $(this).serialize(), function(json){
      $("#data").html(json.data);
    }, "json");
  });
</script>