<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<%= form_tag docs_patients_path, :method => 'get', id: "search_form" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="data"><%= render "patients" %></div>
<br>
<%= link_to 'New Patient', new_docs_patient_path %>
<script>
  // $(document).ready(function() {
  //   $("#by_name").on('click', function(event) {
  //     $.get(this.href,null,null,"json")
  //     .done(function( json, textStatus ) {
  //       console.log( json.data );
  //       $("#data").html(json.data);
  //       return false;
  //     }).fail(function( jqxhr, settings, exception ) {
  //         console.log( exception );
  //         return false;
  //     });
  //     event.preventDefault();
  //     return false;
  //   });
  // });

  $("#search_form input").on('keyup', function(event) {
    event.preventDefault();
    // console.log('entra;')
    $.get($("#search_form").attr("action"), $("#search_form").serialize(), function(json){
      $("#data").html(json.data);
    }, "json");
  });
  $("#search_form").on('submit', function(event) {
    event.preventDefault();
    // console.log('entra;')
    $.get($(this).attr("action"), $(this).serialize(), function(json){
      $("#data").html(json.data);
    }, "json");
  });

// });
</script>