<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @create_appointment_schedule.appointment %>
</p>

<p>
  <strong>Start:</strong>
  <%= @create_appointment_schedule.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @create_appointment_schedule.end %>
</p>

<%= link_to 'Edit', edit_create_appointment_schedule_path(@create_appointment_schedule) %> |
<%= link_to 'Back', create_appointment_schedules_path %>
