<%= semantic_form_for ([:docs, @product]) do |f| %>
	<div class="general-form">
		<%= f.inputs do %>
			<%= f.input :name, label: false, placeholder: 'Nombre' %> 	
			<%= f.input :code, label: false, placeholder: 'Codigo' %> 
			<%= f.input :price, label: false, placeholder: 'Precio' %>
			<%= f.input :characteristics, label: false, placeholder: 'Descripción' %>
			<%= f.input :expiration_date, as: :datetime_select, label: false, placeholder: 'Fecha de Expiración' %>		
	  <% end %>
  </div>
  <%= f.actions do %>
    <%= f.action :submit, :label => "Crear Producto", :button_html => { :class => "submit-button" } %>
  <% end %>
<% end %>
