<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @product.expiration_date %>
</p>

<p>
  <strong>Characteristics:</strong>
  <%= @product.characteristics %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<%= link_to 'Edit', edit_docs_product_path(@product) %> |
<%= link_to 'Back', docs_products_path %>
