<%= semantic_form_for ([:docs, @balance_sheet_entry, @balance_sheet_entry_detail]) do |f| %>
  <div class="general-form">
    <%= f.inputs do %>
      <%= f.input :title, label: false, placeholder: "Título" %>
      <%= f.input :description, label: false, placeholder: "Descripción", :rows => 5 %>
      <%= f.input :amount, label: "Monto", placeholder: "Monto" %>
      <%= f.input :transaction_type_id, label: "Transacción", :as => :select, :collection => TransactionType.all.map{|t| [t.title, t.id]} %>
    <% end %>
  </div>
  <%= f.actions do %>
    <%= f.action :submit, :label => " Guardar ", :button_html => { :class => "submit-button" } %>
  <% end %>
<% end %>
