<div class="row">
  <div class="col-sm-12">
    <h4>
      <%= @balance_sheet_entry.title %>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <strong>Doctor:</strong>
    <%= @balance_sheet_entry.doctor.full_name %>&nbsp;&nbsp;
  
    <strong>Paciente:</strong>
    <%= @balance_sheet_entry.patient.full_name %>&nbsp;&nbsp;
  
    <strong>Fecha de transacción:</strong>
    <%= @balance_sheet_entry.transaction_date %>&nbsp;&nbsp;
  
    <strong>Estado del pago:</strong>
    <%= @balance_sheet_entry.pagado? ? "Pagado" : "Pendiente"  %>
  </div>
</div>
<br><br>
<h1 class="section-title">Nuevo Detalle</h1>
<%= render 'form' %>

<%= link_to 'Regresar', docs_balance_sheet_entry_balance_sheet_entry_details_path(@balance_sheet_entry) %>
