<div class="showcase">
    
  <div class="container">
    <nav class="main-navbar navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <a id="nav-logo" class="navbar-brand" href="#"><%= image_tag("logo.png", alt: "logo") %></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="main-nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#platform">Como Funciona </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Caracteristicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-section">Contacto</a>
          </li>
           <button class="btn btn-outline-info" type="button"><%=  link_to 'Ingresar', new_user_session_path  %></button>
        </ul>
      </div>
    </nav> 
  </div>


  <!-- Content -->
  <div class="showcase-content">
    <h1>Mantén a tus clientes felices y a tu negocio creciendo</h1>
    <p>La manera maravillosamente simple de fortalecer la comunicación con tus clientes, agilizar las tareas diarias y aumentar los ingresos de tu negocio.</p>
    <button class="btn btn-outline-info" type="button"><a href="#contact-section" >Programa una visita</a></button>
    <button class="btn btn-outline-info" type="button"><%=  link_to 'Ingresar', new_user_session_path  %></button>
    </div>
  </div>
</div>
<!-- Como Funciona -->

<div id="platform">
  <div class="container">
    <h2>Todo lo que tu consultorio necesita<br>En una plataforma. En cualquier dispositivo.</h2>

    <p>OdontoMonitor combina todas las herramientas que necesitas para tu negocio en una sola herramienta simple. Creamos mayor productividad y mejoramos la comunicación e interacción con tus clientes.</p>
    <div id="platform-img">
      <%= image_tag("monitor.png", alt: "monitor") %>
      <span id="lineSource">
        <%= image_tag("logo.png", alt: "logo") %>
      </span>
    </div>
  </div>
</div>


<!-- Caracteristicas -->

<div id="features">

  <div class="container">
    <h1>Todo lo que necesitas en un solo lugar</h1>
    
    <div class="row">
      
      <!-- Remainders -->
      <div class="remainders content col-sm-4"> 
        
        <%= image_tag("feature4.png") %>
        
        <h2>Recordatorio de Citas</h2>
        
        <p>Your dental practice is built on relationships and efficiency—and Weave helps you strengthen both by helping you understand more about your patients and how your practice is run.</p>
      </div>
      
      <!-- Clinic HIstory -->
      <div class="clinic content col-sm-4">
        
        <%= image_tag("feature5.png") %>
        <h2>Historiales Clinicos</h2>
        
        <p>Your dental practice is built on relationships and efficiency—and Weave helps you strengthen both by helping you understand more about your patients and how your practice is run.</p>
      </div>
      
      <!-- Accounting -->
      <div class="accounting content col-sm-4">
        <%= image_tag("feature2.png") %>
        <h2>Contabilidad Integrada</h2>

        <p>Your dental practice is built on relationships and efficiency—and Weave helps you strengthen both by helping you understand more about your patients and how your practice is run.</p>
      </div>
    </div>

    <div class="row">
      
      <!-- Data Import -->
      <div class="import content col-sm-4">
        <%= image_tag("feature3.png") %>
        <h2>Importacion de Datos</h2>
        <p>Your dental practice is built on relationships and efficiency—and Weave helps you strengthen both by helping you understand more about your patients and how your practice is run.</p>
      </div>
      
      <!-- Consult Reports -->
      <div class="reports content col-sm-4">
        <%= image_tag("feature1.png") %>
        <h2>Manejo de Productos</h2>
        <p>Your dental practice is built on relationships and efficiency—and Weave helps you strengthen both by helping you understand more about your patients and how your practice is run.</p>
      </div>
      
      <!-- Product Management -->
      <div class="products content col-sm-4">
        <%= image_tag("feature6.png") %>
        <h2>Creación de Reportes</h2>
        <p>Your dental practice is built on relationships and efficiency—and Weave helps you strengthen both by helping you understand more about your patients and how your practice is run.</p>
      </div>
    </div>
  </div>
</div>

<!-- Reviews -->
<div id='reviews'>

  <div class="container">

    <span class="circleIcon">“</span>

    <div class="people-reviews">
       <div class="reviews-content row">
        <div class="col-md-6">
          <h3>REDUCE NO SHOWS</h3>
          <p>The auto and manual texting options have helped us reduce our no shows by 50%! We are also really excited about the new Reviews product and can't wait to see what it does for our practice.</p>
          <div class="reviews-img">
            <cite>
              <b>
                <img src="https://www.getweave.com/wp-content/uploads/2016/10/lea.png">
              </b>
              <span>Lea S.</span>
              <span>Office Manager</span>
            </cite>
          </div>
        </div>
        <div class="col-md-6">
          <h3>REDUCE NO SHOWS</h3>
          <p>The auto and manual texting options have helped us reduce our no shows by 50%! We are also really excited about the new Reviews product and can't wait to see what it does for our practice.</p>

          <div class="reviews-img">
            <cite>
              <b>
                <img src="https://www.getweave.com/wp-content/uploads/2016/10/lea.png">
              </b>
              <span>Lea S.</span>
              <span>Office Manager</span>
            </cite>
          </div>
        </div>
      </div>

      <div class="reviews-content row">
        <div class="col-md-6">
          <h3>REDUCE NO SHOWS</h3>
          <p>The auto and manual texting options have helped us reduce our no shows by 50%! We are also really excited about the new Reviews product and can't wait to see what it does for our practice.</p>
          <div class="reviews-img">
            <cite>
              <b>
                <img src="https://www.getweave.com/wp-content/uploads/2016/10/lea.png">
              </b>
              <span>Lea S.</span>
              <span>Office Manager</span>
            </cite>
          </div>
        </div>
        <div class="col-md-6">
          <h3>REDUCE NO SHOWS</h3>
          <p>The auto and manual texting options have helped us reduce our no shows by 50%! We are also really excited about the new Reviews product and can't wait to see what it does for our practice.</p>
          <div class="reviews-img">
            <cite>
              <b>
                <img src="https://www.getweave.com/wp-content/uploads/2016/10/lea.png">
              </b>
              <span>Lea S.</span>
              <span>Office Manager</span>
            </cite>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact -->
<div id='contact-section'>
  <div class="container">

    <h2 class="twoline"><span>¿Listo para ver mas?</span>Programa una visita</h2>

    <p>Uno de nuestros representantes se contactara contigo para programar una demostración de nuestro sistema.</p>

    <form class="contact-form">
      <div class="form-group row">
        <div class="col-10">
          <input class="form-control" placeholder="Nombre" type="text" ">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-10">
          <input class="form-control" type="text"  placeholder="Apellido">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-10">
          <input class="form-control" type="email" placeholder="Email" id="example-email-input">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-10">
          <input class="form-control" type="tel" placeholder="Teléfono" id="example-tel-input">
        </div>
      </div>
      <input type="submit" value="Contactarme!" class="contact-form-button" >
    </form>
  </div>
</div>
<!-- Footer -->
<div id="footer">
  <div class="container">
    <p class="copyright">Copyright © 2017 OdontoMonitor. Todos los derechos reservados.</p>
  </div>
</div>

<script type="text/javascript">
  // Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
</script>

