<p id="notice"><%= notice %></p>

<h1>Docs Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Patient</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docs_appointments.each do |docs_appointment| %>
      <tr>
        <td><%= docs_appointment.doctor %></td>
        <td><%= docs_appointment.patient %></td>
        <td><%= docs_appointment.description %></td>
        <td><%= docs_appointment.start %></td>
        <td><%= docs_appointment.end %></td>
        <td><%= docs_appointment.price %></td>
        <td><%= link_to 'Show', docs_appointment %></td>
        <td><%= link_to 'Edit', edit_docs_appointment_path(docs_appointment) %></td>
        <td><%= link_to 'Destroy', docs_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Docs Appointment', new_docs_appointment_path %>
