<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @docs_appointment.doctor %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @docs_appointment.patient %>
</p>

<p>
  <strong>Description:</strong>
  <%= @docs_appointment.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @docs_appointment.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @docs_appointment.end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @docs_appointment.price %>
</p>

<%= link_to 'Edit', edit_docs_appointment_path(@docs_appointment) %> |
<%= link_to 'Back', docs_appointments_path %>
