<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to docs_path, :class => 'nav-link' do %>
          <i class="icon-speedometer icons"></i> Dashboard
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to docs_patients_path, :class => 'nav-link' do %>
          <i class="icon-people icons"></i> Pacientes
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to docs_appointments_path, :class => 'nav-link' do %>
          <i class="icon-calendar icons"></i> Citas
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to docs_balance_sheet_entries_path, :class => 'nav-link' do %>
          <i class="icon-wallet icons"></i> Cuentas
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to docs_products_path, :class => 'nav-link' do %>
          <i class="icon-briefcase icons"></i> Productos
        <% end %>
      </li>
    </ul>
  </nav>
</div>