<!DOCTYPE html>
<html>
  <head>
    <title>Consultorios</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <%= stylesheet_link_tag 'doctors', media: 'all' %>
    <%= stylesheet_link_tag 'agenda', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="app">
      <%= render 'layouts/header' %>
      <div class="app-body">
        <%= render 'layouts/sidebar' %>
        <!-- Main content -->
        <main class="main">
          <div class="container-fluid main-wrapper">
            <div class="main-content">
              <%= yield %>
            </div> 
          </div>
        </main>
      </div>
    </div>

    <%= javascript_include_tag 'agenda' %>

  </body>
</html>