<!DOCTYPE html>
<html>
  <head>
    <title>Consultorios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'doctors', media: 'all' %>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'appointments', media: 'all' %>
    
  </head>
  <body>
    <div class="app">
      <%= render 'layouts/header' %>
      <div class="app-body">
        <div class="sidebar">
          <nav class="sidebar-nav">
              <ul class="nav">
                <li class="nav-item">
                  <%= link_to docs_path, :class => 'nav-link' do %>
                    <i class="icon-speedometer icons"></i> Dashboard
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to docs_patients_path, :class => 'nav-link' do %>
                    <i class="icon-people icons"></i> Pacientes
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to docs_appointments_path, :class => 'nav-link' do %>
                    <i class="icon-calendar icons"></i> Citas
                  <% end %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-wallet icons"></i> Cuentas </a>
                </li>
                <li class="nav-item">
                  <%= link_to docs_products_path, :class => 'nav-link' do %>
                    <i class="icon-briefcase icons"></i> Productos
                  <% end %>
                </li>
              </ul>
          </nav>
        </div>
        <!-- Main content -->
        <main class="main">
          <div class="container-fluid main-wrapper">
            <div class="main-content">
              <% if notice %>
              <div class="alert alert-<%= c = notice["class"].blank? ? "success": notice["class"] %>  " role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul>
                  <li>
                    <%= n = notice["msg"].blank? ? notice : notice["msg"] %>
                  </li>
                </ul>
              </div>
              <% end %>
              <% if !@appointment.blank? %>
              <% if @appointment.errors.any? 
                  pluralize(@appointment.errors.count, "error") + " No se pudo programar:" %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <ul>
                    <% @appointment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% end %>
              <%= yield %>
            </div> 
          </div>
        </main>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>