<table class="table">
  <thead class="thead-products">
    <tr>
      <th><%= sortable "Título", ["title"] %></th>
      <th><%= sortable "Inicio", ["start_at"] %></th>
      <th><%= sortable "Fin", ["ends_at"] %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balances.each do |balance| %>
      <tr>
        <td><%= balance.title %></td>
        <td><%= balance.start_at %></td>
        <td><%= balance.ends_at %></td>
        <td><%= link_to 'Ver', docs_balance_sheet_path(balance) %></td>
        <td><%= link_to 'Editar', edit_docs_balance_sheet_path(balance) %></td>
        <td><%= link_to 'Eliminar', docs_balance_sheet_path(balance), method: :delete, data: { confirm: '¿Estás seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @balances, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>