<div class="row">
  <div class="col-sm-8">
    <h1>
      <%= @balance_sheet.title %>
    </h1>

    <p>
      <strong>Descripción:</strong>
      <%= @balance_sheet.description %>
    </p>

    <p>
      <strong>Fecha de Inicio:</strong>
      <%= @balance_sheet.start_at %>&nbsp;|&nbsp;
      <strong>Fecha de Fin:</strong>
      <%= @balance_sheet.ends_at %>

    </p>
  </div>
  <div class="col-sm-4 no-print">
    <%= link_to 'Editar', edit_docs_balance_sheet_path(@balance_sheet), class: "btn btn-success" %>
    <%= link_to "#", class: "btn btn-danger", onclick: "window.print(); return false;", alt: "imprimir", title: "imprimir" do%>
      <i class="icon-printer icons"></i>
    <% end %>
    <%= link_to 'Atrás', docs_balance_sheets_path, class: "btn btn-info" %>  
  </div>
</div>
<div class="row no-print">
  <div class="col-sm-12">
    <%= form_tag docs_balance_sheets_path, :method => 'get', id: "search_form", class: "form-inline" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "form-control",  placeholder: "Buscar Entrada" %>
      </div>
      <div class="form-group">&nbsp;&nbsp;
      <%= submit_tag "Buscar", :name => nil, class: "btn btn-success" %>
      </div>
      <div class="form-group">&nbsp;&nbsp;
        <div class="btn-group">
        <%= link_to 'Nueva Entrada', new_docs_balance_sheet_balance_sheet_entry_path(@balance_sheet), class: "btn btn-success" %>
        <%= link_to 'Pendientes de Pago', new_docs_balance_sheet_balance_sheet_entry_path(@balance_sheet), class: "btn btn-warning" %>
        </div>
      </div>
    <% end %>
  </div>
</div><br>
<div class="row">
  <div class="col-sm-12">
    <%= render 'docs/balance_sheet_entries/balance_sheet_entries', balance_sheet: @balance_sheet %>
  </div>
</div>