<div class="showcaseform">
  <div class="container">
    <nav class="main-navbar navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <a id="nav-logo" class="navbar-brand" href="/"><%= image_tag("logo.png", alt: "logo") %></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="main-nav navbar-nav ml-auto">
           <button class="btn btn-outline-info" type="button"><%=  link_to 'Ingresar', new_user_session_path  %></button>
        </ul>
      </div>
    </nav> 
  </div>

  <div class="container">
    <div class="card card-container">
       <span id="lineSourceForm">
          <%= image_tag("logo.png", alt: "logo") %>
        </span>

        <p class="center">Regístrate</p>

        <%= form_for(resource, as: resource_name, :html => {:class => "form-signin"} , url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <span id="reauth-email" class="reauth-email"></span>

          <%= f.email_field :email, :label => 'Email', required: true, autofocus: true , placeholder: 'Email' %>
          <%= f.password_field :password, :label => 'Password', autocomplete: "off", placeholder: 'Password' %>
          <%= f.password_field :password_confirmation, :label => 'Password Confirmation', autocomplete: "off",  placeholder: 'Confirmar Password' %>

          <div class="actions">
            <%= f.submit "Sign up", :class => 'btn btn-lg btn-primary btn-block btn-signin'  %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
    </div>
  </div>


</div>


<!-- Footer -->
<div id="footer">
  <div class="container">
    <p class="copyright">Copyright © 2017 OdontoMonitor. Todos los derechos reservados.</p>
  </div>
</div>




